.yesk {
	font-size: 140px;
	font-family: 'Droid Sans Mono', 'CPMono_v07 Bold', 'Droid Sans';
	font-weight: 800;
	margin-left: 30px;
	display: inline-block;
	-webkit-text-fill-color: #ffffff;
	-webkit-background-clip: text;
	text-shadow: -1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;;
}

.yeskee {
	font-size: 140px;
	font-family: 'Droid Sans Mono', 'CPMono_v07 Bold', 'Droid Sans';
	font-weight: 800;
	margin-left: 30px;
	display: inline-block;
	-webkit-text-fill-color: #ee3353;
	-webkit-background-clip: text;
	text-shadow: -1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;;
}

.yesk2 {
	font-size: 20px;
	font-family: 'Droid Sans Mono', 'CPMono_v07 Bold', 'Droid Sans';
	font-weight: 800;
	margin-left: 30px;
	display: inline-block;
	-webkit-text-fill-color: #ffffff;
	-webkit-background-clip: text;
	text-shadow: -1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;;
}

.yeskee2 {
	font-size: 20px;
	font-family: 'Droid Sans Mono', 'CPMono_v07 Bold', 'Droid Sans';
	font-weight: 800;
	margin-left: 30px;
	display: inline-block;
	-webkit-text-fill-color: #ee3353;
	-webkit-background-clip: text;

}

.level_message {
	height: 600px;
	overflow-y: scroll;
}

.sender {
	margin-top: 10px;
	margin-bottom: 19px;
}

.reciver {
	margin-top: 10px;
	margin-bottom: 19px;
}

.withdraw a {
	color: #ffffff !important;
}

.withdraw a:hover {
	color: #000 !important;
}